.top{
	margin-top:50px;
	margin-left: 200px;
	height: 600px;
	width: 900px;
}

.top1{
	
	border:1px solid black;
	border-top: none;
	margin-left: 100px;
	height: 250px;
	width:150px;
}

.top2{
	border:1px solid black;
	border-top: none;
	margin-top:-250px;
	margin-left: 400px;
	height: 250px;
	width:150px;
}

.top3{
	border:1px solid black;
	border-top: none;
	margin-top:-250px;
	margin-left: 700px;
	height: 250px;
	width:150px;
}

.top4{
	border:1px solid black;
	border-top: none;
	margin-top:100px;
	margin-left: 100px;
	height: 200px;
	width:750px;
}

.top11,.top22,.top33{
	border-radius: 90%;
	height: 40px;
	width: 10px;
	background-color: gray;
}

.top12,.top21,.top31{
	border-top: none;
	border-radius: 90%;
	height: 10px;
	width: 40px;
	background-color: gray;
}

.top11,.top22,.top33{
	position: absolute;
	margin-top:250px;
	margin-left: 70px;
}
.top12,.top21,.top31{
	position: absolute;
	margin-left: 55px;
	margin-top:268px;
}

.top13,.top23,.top32{
	margin-top: 100px;
	position: absolute;
	height:150px;
	width: 150px;
}

.top14,.top24,.top34{
	border-radius: 80px;
	height: 100px;
	width: 10px;
	margin-left: 70px;
	margin-top:290px;
	position: absolute;
}

.top44{
	position: absolute;
	margin-top:200px;
	height: 0px;
	width: 750px;

}
.top32,.top34{
	background-color: blue;
}

.top13,.top14{
	background-color: red;
}
.top23,.top24{
	background-color: green;
}